@if (canCreate()) {
  <div class="content content-center">
    <section class="create-album">
      <form class="form">
        <div class="form-header">Create an album</div>
        <div class="input-group">
          <input type="text" id="title" placeholder="Title" [formControl]="title">
          @if (title.invalid && title.touched) {
            <div class="input-error">
              @if (title.hasError('required')) {
                <span>Title is required</span>
              } @else if (title.hasError('maxlength')) {
                <span>Title too long</span>
              }
            </div>
          }
        </div>
        <button type="button" (click)="createAlbum()" class="btn btn-submit" [disabled]="title.invalid">Create</button>
      </form>
    </section>
  </div>
}
<div class="content">
  <div class="album-container">
    @for (item of albums; track $index) {
      <app-album [item]="item"
                 [index]="$index">
      </app-album>
    }
  </div>
  <div class="pagination-controls">
    <button class="btn" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      <i class="arrow left"></i>
    </button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button class="btn" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages()">
      <i class="arrow right"></i>
    </button>
  </div>
</div>
