<div class="content content-center">
  <form [formGroup]="form" (ngSubmit)="register()" class="form">
    <div class="form-header">Register</div>
    <div class="input-group">
      <input type="text" id="username" placeholder="Username" formControlName="username">
      @if (form.get('username')?.invalid && form.get('username')?.touched) {
        <div class="input-error">
          @if (form.get('username')?.hasError('required')) {
            <span>Username is required</span>
          } @else if (form.get('username')?.hasError('minlength')) {
            <span>Username too short</span>
          } @else if (form.get('username')?.hasError('maxlength')) {
            <span>Username too long</span>
          } @else if (form.get('username')?.hasError('conflict')) {
            <span>Username already taken</span>
          }
        </div>
      }
    </div>
    <div class="input-group">
      <input type="password" id="password" placeholder="Password" formControlName="password">
      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        <div class="input-error">
          @if (form.get('password')?.hasError('required')) {
            <span>Password is required</span>
          } @else if (form.get('password')?.hasError('minlength')) {
            <span>Password too short</span>
          }
        </div>
      }
    </div>
    <button type="submit" class="btn btn-submit" [disabled]="form.invalid">Register</button>
  </form>
</div>
