<div class="content">
  <div class="container">
    @if (canUpload()) {
      @if (selectedFile) {
        <div class="image-item">
          <img [src]="selectedFileUrl" alt="Selected Image">
          <div class="buttons">
            <button class="btn btn-clear" (click)="clearSelectedFile()">Clear</button>
            <button class="btn btn-save" (click)="save()">Save</button>
          </div>
        </div>
      } @else {
        <div class="image-placeholder">
          <label for="upload">
            <span>Upload Image</span>
            <input type="file" id="upload" accept="image/*" (change)="onFileSelected($event)" />
          </label>
        </div>
      }
    }
    @for (item of images; track $index) {
      <div class="image-item">
        <img [src]="baseUrl + '/' + item.relativePath" alt="Image {{ $index }}">
        @if (canDelete()) {
          <div class="delete" (click)="onDelete(item, $event)">
            <button class="btn">
              <fa-icon [icon]="itrash"></fa-icon>
            </button>
          </div>
        }
        <div class="rates">
          <button class="btn" (click)="onLike(item, $event)">
            <fa-icon [icon]="ilike"></fa-icon>
            <span>{{ item.likeCount }}</span>
          </button>
          <button class="btn" (click)="onDislike(item, $event)">
            <fa-icon [icon]="idislike"></fa-icon>
            <span>{{ item.dislikeCount }}</span>
          </button>
        </div>
      </div>
    }
  </div>
  <div class="pagination-controls">
    <button class="btn" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      <i class="arrow left"></i>
    </button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button class="btn" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages()">
      <i class="arrow right"></i>
    </button>
  </div>
</div>
