.buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  button {
    padding: .5rem;
    border-radius: 4px;
    color: var(--background);
  }
}

.btn-clear {
  opacity: .7;
  background-color: var(--warning);

  &:hover {
    opacity: 1;
  }
}

.btn-save {
  opacity: .7;
  background-color: var(--primary);

  &:hover {
    opacity: 1;
  }
}

.image-placeholder {
  width: 350px;
  height: 300px;
  border: 2px dashed var(--secondary);
  border-radius: 4px;
  font-size: 24px;
  color: var(--secondary);

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.image-placeholder input {
  display: none;
}

.image-item {
  width: 350px;
  height: 300px;
  position: relative;
}

.scalable {
  transition: all .5s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.image-item img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rates {
  position: absolute;
  display: flex;
  gap: 15px;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  color: var(--primary);

  .btn {
    display: flex;
    gap: 5px;

    fa-icon {
      opacity: .7;
      transition: opacity .2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.delete {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  color: var(--warning);

  .btn {
    fa-icon {
      opacity: .7;
      transition: opacity .2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-content {
  position: relative;
  height: 90%;
  z-index: 2;
  font-size: 60px;

  img {
    height: 100%;
  }

  .btn {
    position: absolute;
    top: 50%;
    bottom: 50%;
    opacity: .7;
    transition: opacity .3s ease;

    fa-icon {
      padding: 2rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  .previous {
    left: 5%;
  }
  .next {
    right: 5%;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1;
}
