.album-item {
  position: relative;
  width: 360px;
  height: 310px;

  &:hover {
    .image-item {
      transform: translate(-5px, -5px);
    }

    .backdrop-item {
      transform: translate(5px, 5px);
    }
  }
}

.backdrop-item {
  width: 350px;
  height: 300px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  background-color: var(--header);
  opacity: .5;
  transition: all .5s ease;
}

.image-item {
  width: 350px;
  height: 300px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  transition: all .5s ease;
}

.image-item img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}