<nav class="header">
  <div class="nav-item">
    <a routerLink="albums" class="nav-link">Albums</a>
  </div>
  @if (authService.isAuthenticated() && user) {
    <div class="nav-item">
      <a [routerLink]="['albums', user.id]" class="nav-link">My Albums</a>
    </div>
    <div class="nav-item ml-auto">
      Hello, {{ user.username }}
    </div>
    <div class="nav-item">
      <a (click)="logout()" class="nav-link">Log out</a>
    </div>
  }
  @else {
    <div class="nav-item ml-auto">
      <a routerLink="login" class="nav-link">Log In</a>
    </div>
    <div class="nav-item">
      <a routerLink="register" class="nav-link">Sign Up</a>
    </div>
  }
</nav>